<article class="content-item">
  <div class="entry-media">
    <div class="post-title">
      <h2>
        <a href="{{ post.url | absolute_url }}">
      {{ post.title }}
      </a>
      </h2>
      <div class="entry-date">
        <ul>
          {% for category in post.category %}
          <li>
            <span>
              {% if category == 'khai_thi' %}
              Khai thị
              {% else %}
              {{category}}
              {% endif %}
            </span>
          </li>
          {% endfor %}
          <li> {{ post.author }}</li>
        </ul>
      </div>
    </div>
    <div class="post-content">
      {% include post-excerpt.html %}
    </div>
    <div class="bubble-line"></div>
    <div class="post-footer">
      <div class="row">
        <div class="col-sm-5">
          <a href="{{ post.url | absolute_url }}" class="button">Đọc tiếp</a>
        </div>
      </div>
    </div>
  </div>
</article>
