<div class="widget">
  <h3 class="widget-title"> Bài đăng gần đây </h3>
  <div class="bubble-line"></div>
  <div class="widget-content">

    <div class="widget-recent">
      <h4><a href="javascript:;">Meet my workspace</a> </h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry.
      </p>
    </div>
    <div class="widget-recent">
      <h4><a href="javascript:;">This is how to unique idea born</a> </h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry.
      </p>
    </div>
    <div class="widget-recent last">
      <h4><a href="javascript:;">Only you will choose your life.</a></h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry.
      </p>
    </div>
  </div>
</div>
